:root {
  --galleryHeight: 600px;
}

body {
  text-align: center;
}

.gallery {
  margin: 0 auto;
  border: 1px solid black;
  width: 90%;
  height: var(--galleryHeight);
  display:flex;
  align-items: center;
  /* justify-content:space-evenly; */
  overflow-x:auto;
  background-color: lightblue;
}

.image-container {
  height: calc(var(--galleryHeight)*0.9);
  min-width:fit-content;
  max-width:fit-content;
  border-radius: 15px;
  overflow:hidden;
  margin-left:10px;
}

.image-name {
  display:block;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
}
img {
  /* height: calc(var(--galleryHeight)*0.5); */
  /* width: 100%; */
  height: calc(var(--galleryHeight)*0.5);
  border-bottom: 3px solid black;
}

button {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  margin: 10px;
  font-size: 24px;
}

textarea {
  resize:none; 
  width: calc(100% - 50px);
  height: 18%;
  font-size: 16px;
  font-family:'Times New Roman';
  text-align: center;
  margin-top: 10px;
  border-radius: 10px;
  border: 0;
}